[Unit]
Description=resourceful-gateway

[Service]
WorkingDirectory=/home/pi/resourceful-gateway
ExecStart=/usr/bin/timeout --kill-after=1m 30m /home/pi/.nvm/v0.10.33/bin/npm start
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
